div.App {
  background-color: rgb(235, 235, 235);
  padding-bottom: 20px;
}


div.center {
  background-color: rgb(235, 235, 235);
  height: 63vh;
  display: flex;
}

div.center nav {
  background-color: #fff;
  width: 20%;
  height: 91%;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 5px;
}

div.center main {
  /* background-color: #fff; */
  width: 80%;
  height: 88%;
  margin-top: 30px;
  margin-left: 22px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}


div.center main div.FirstContent,
div.center main div.ThirdContent {
  margin: 5px;
  width: 60%;
  height: 50%;
  background-color: white;
  margin-right: 10px;
}

div.center main div.SecondContent,
div.center main div.FourthContent {
  margin: 5px;
  width: 35%;
  height: 50%;
  background-color: white;
}

div.center main div.FirstContent,
div.center main div.SecondContent {
  margin-bottom: 10px;
}

footer {
  background-color: white;
  text-align: center;
  height: 40px;
  width: 98%;
  margin: 0 auto;
  line-height: 40px;
}